.twoLineOverview {
  display: flex;
  justify-content: space-between;
  width: 250px;

  .item {
    display: flex;
    flex-direction: column;

    .money {
      height: 24px;
      line-height: 24px;
      margin-bottom: 5px;
      font-size: 18px;
    }
    .type {
      height: 14px;
      line-height: 14px;
      font-size: 12px;
    }
  }
}
